@media only screen and (max-width: 1024px) {
    .container {
        max-width: 100%;
    }

    .card__item {
        width: 270px;
    }

    .header__button {
       align-self: center;
    }
}